/*CSS for Grandma's Pie Recipe page*/
h1{
    color: #a4a400;
    background-color: #f0f0f0;
    font-family: 'Lucida Sans Unicode', 'Helvetica', 'Arial', sans-serif;
    text-decoration: underline;
    text-align: center;
    font: 22pt bold;
    letter-spacing: .25em;
}
h2{
    color: #a4a400;
    background-color: #f0f0f0;
    font-family: 'Lucida Sans Unicode', 'Helvetica', 'Arial', sans-serif;
    text-decoration: underline;
    text-align: left;
    font: 18pt; 
    letter-spacing: .25em;
}
body{
    background-color: white;
    color: #404040;
    font: 11pt;
    font-family: Georgia, 'Garamond',  serif;
    background-image: url(../recipe/recipeImages/silverware.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
}
.strike{
    text-decoration:line-through;
    position: relative;
    display: inline-block;
}
.comment pre{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    background-color: #FFFFA8;
}
.validator{
    flex-direction: row;
    flex-flow: nowrap;
}
ul{
    list-style-image: url(../recipe/recipeImages/pie_icon.gif);
}
