/* Unified style sheet for personal website */

html {
	margin: 0;
	padding: 0;

	}

	/*dark mode colors:*/
* {
	background-color: #1d1e2f;
	color: whitesmoke;
}
a:link {
	color: aquamarine;
}

a:visited{
	color:deeppink;
}
	
body {background-image: url=("../images/green-electronic-circuit-board-background-header-1356012094.jpg");
    background-repeat: no-repeat; background-position: top left;
}

#profile-photo { display: inline-block; position: relative; 
    width: 300px; height: 300px; overflow: hidden; border-radius: 50%; } 

#profile-photo img { width: auto; height: 100%; }

h1 {color: white; text-shadow: black 2px 2px; text-align: center; height: 10vh;}  

h1, h2, h3 {font-family: Courier, serif;
}

p, li, span {font-family: Garamond, serif;
			margin: 1em;
}

a:link {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.validator{
	display:inline; position: relative; 
}
