body{
    background-image: url(../review/images/background.png);
    font-family: "Veranda", "Tahoma", sans-serif;
    font-size: 8pt;
    margin: 0;
    padding: 0;
    
}
article{
    display: flex;
    justify-content: center;
}
.banner{
    background-image: url("../review/images/bannerbg.png");
    background-repeat: repeat-x;
    text-align: center;
    border-top-left-radius: 20px;
}
h1{
    text-align: center;
    text-shadow: 3px 3px #999999;
}
.content-area{
    width: auto;
    height: auto;
    border: solid gray;
    border-width: 0 4px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 550px, 250px;
    grid-template-rows: 1fr;
    
}
.overview{
    width: 250px;
    height:auto;
    background-color: #A2B964;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 8pt;
    grid-column: 2;
    grid-row: 1;
    z-index: -1;
    border-top-right-radius: 20px;
}
.reviews-wrapper{
    grid-column: 1;
    grid-row: 1;
    z-index: -1;
}
.reviews-wrapper > header{
    background-image: url("../review/images/rbg.png");
    background-repeat: repeat-x;
    color: red;
    font-size: 56pt;
    font-weight: bold;
    vertical-align: middle;
} 
.reviews{
    column-count: 2;
    column-gap: 3%;
    margin: 2%;
    padding: 5px;
    width: 550px;
    height:auto;
}
.reviews q{
    font-size: 8pt;
    font-weight: bold;
    background-color:#e8dc9b;
    border: 2px;
    border-color:gray;
    border-radius: 10px;
    word-wrap: normal;
}
.page > p{
    text-align: center;
}
.validator{
    opacity: 50%;
    display: flex;
    justify-content: right;
}